<header class="jumbotron jumbotron-fluid text-center bg-primary text-white">
    <div class="container">
        <h1 class="display-4">Bienvenido al sistema de inmuebles</h1>
        <p class="lead">El mejor sistema para la gestión de tus inmuebles</p>
        <a href="#" class="btn btn-light btn-lg mb-3">Ver Más</a>
    </div>
</header>

<!-- Sección de Servicios -->
<section class="container mt-5">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Gestión de Inmuebles</h5>
                    <p class="card-text">Administra las propiedades de las oficinas</p>
                    <a href="nuevo" class="btn btn-primary">Saber Más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Control de Visitas</h5>
                    <p class="card-text">Lleva un control detallado de las visitas a los inmuebles.</p>
                    <a href="visita" class="btn btn-primary">Saber Más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Listas y filtros</h5>
                    <p class="card-text">Busca los inmuebles que necesites, de manera facil.</p>
                    <a href="inmueble" class="btn btn-primary">Saber Más</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sección de Contacto -->
<section class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-4">Contacto</h2>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form>
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" placeholder="Tu nombre">
                    </div>
                    <div class="form-group">
                        <label for="email">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" placeholder="Tu correo electrónico">
                    </div>
                    <div class="form-group">
                        <label for="message">Mensaje</label>
                        <textarea class="form-control" id="message" rows="3" placeholder="Tu mensaje"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>
