
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sistema de inmuebles</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="nuevo">Crear inmueble</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="inmueble">Listar por referencia</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="oferta">Listar por oferta</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="visita">Agregar visita</a>
          </li>
        </ul>
        <div class="d-flex" role="search">
          <a *ngIf="!isAuthenticated()" class="btn btn-outline-success" href="login">Login</a>
          <a *ngIf="isAuthenticated()" (click)="logout()" class="btn btn-outline-danger">Salir </a>
        </div>
      </div>
    </div>

    
  </nav>
